<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = 'amr'>

    <!-- AMR CORE -->
    <xacro:include filename = '$(find amr_description)/urdf/amr_urdf/amr_core.xacro'/>

    <!-- REALSENSE CAMERA -->
    <xacro:include filename = '$(find amr_description)/urdf/sensor_urdf/realsense_camera.xacro'/>
    
    <!-- IMU URDF & CONFIG -->
    <xacro:include filename = '$(find amr_description)/urdf/sensor_urdf/imu.xacro'/>

    <!-- LASER URDF & CONFIG -->
    <xacro:include filename = '$(find amr_description)/urdf/sensor_urdf/laser_scanner.xacro'/>

    <!-- TRANSMISSION TAG -->
    <xacro:include filename = '$(find amr_description)/urdf/amr_urdf/amr_transmission.xacro'/>

</robot>