<?xml version="1.0"?>
<launch>
    <arg name="rviz_file" default="$(find amr_mapping)/rviz/mapping.rviz"/>

    <!-- Launch gmapping node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">	
        <rosparam file="$(find amr_mapping)/params/gmapping/gmapping.yaml" command="load" /> 
        
        <remap from="scan" to="/front_scan_rep117"/>
    </node>

    <!-- Launch Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_file)"/>

</launch>