<launch>
  <arg name="planner_name"              default="navfn"/>
  <arg name="controller_name"           default="rs"/>
  <arg name="map_file"                  default="$(find amr_gazebo)/maps/tp2_map/edited_map/tp2_edited_map.yaml" doc="Path to a map .yaml file (required)." />
  <arg name="virtual_wall_file"         default="$(find amr_gazebo)/maps/tp2_map/virtual_wall_map/tp2_virtual_wall_map.yaml" doc="Path to a virtual walls map .yaml file (optional)." />
  <arg name="speed_filter_map_path"     default="$(find amr_gazebo)/maps/tp2_map/speed_filter/map.yaml"/>
  <arg name="disable_obstacle_map_path" default="$(find amr_gazebo)/maps/tp2_map/disable_obstacle/map.yaml"/> 
  <arg name="open_rviz"                 default="false"/>
  <arg name="rviz_file"                 default="$(find amr_navigation)/rviz/navigation.rviz"/>

  <!-- Launch map server -->
  <include file="$(find amr_navigation)/launch/start_maps.launch">
    <arg name="map_file"                  value="$(arg map_file)" />
    <arg name="virtual_wall_file"         value="$(arg virtual_wall_file)" />
    <arg name="speed_filter_map_path"     value="$(arg speed_filter_map_path)" />
    <arg name="disable_obstacle_map_path" value="$(arg disable_obstacle_map_path)" />
  </include>

  <!-- Launch move base -->
  <include file="$(find amr_navigation)/launch/move_base.xml">
    <arg name="planner_name"     value="$(arg planner_name)"/>
    <arg name="controller_name"  value="$(arg controller_name)"/>
  </include>

  <!-- Launch AMCL -->
  <include file="$(find amr_navigation)/launch/amcl.launch"/>

  <!-- Launch Rviz -->
  <node if="$(arg open_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_file)"/>

</launch>
